
<div id="footer" class="clearfix">
	
	<div id="footer-wrapper">

		
		<div class="grid col-940">

			<div class="grid col-540">
							</div><!-- end of col-540 -->

			<div class="grid col-380 fit">
				<ul class="social-icons"></ul><!-- .social-icons -->			</div><!-- end of col-380 fit -->

		</div><!-- end of col-940 -->
		
		<div class="grid col-300 copyright">
			&copy; 2015<a href="/" title="armhf.com">
				armhf.com			</a>
		</div><!-- end of .copyright -->

		<div class="grid col-300 scroll-top"><a href="#scroll-top" title="scroll to top">&uarr;</a></div>

		<div class="grid col-300 fit powered">
		</div><!-- end .powered -->

	</div><!-- end #footer-wrapper -->

	</div><!-- end #footer -->
        <script type='text/javascript' src='/js/responsive-scripts.min.js?ver=1.2.6'></script>
		<script type='text/javascript' src='/js/jquery.placeholder.min.js?ver=2.0.7'></script>
</body>
</html>

