---
title:  Downloads (old) &#124; armhf.com
---

{% include head.html %}
<div id="wrapper" class="clearfix">
<div id="content-full" class="grid col-940">
		
			<div class="breadcrumb-list" xmlns:v="http://rdf.data-vocabulary.org/#"><span class="breadcrumb" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="/">Home</a></span> <span class="chevron">&#8250;</span> <span class="breadcrumb-current">Downloads (old)</span></div>
						<div id="post-1131" class="post-1131 page type-page status-publish hentry">
				
	<h1 class="entry-title post-title">Downloads (old)</h1>

				<div class="post-entry">
					<p>&nbsp;</p>
<h1><span style="color: #ff0000;">reference archive of previous releases</span></h1>
<p>&nbsp;</p>
<h4>BeageBone Black Ubuntu Saucy 13.10</h4>
<hr />
<h5 style="padding-left: 30px;">Method 1: image file</h5>
<ul>
<ul>
<li><a href="http://s3.armhf.com/debian/saucy/bone/ubuntu-saucy-13.10-armhf-3.8.13-bone30.img.xz">ubuntu-saucy-13.10-armhf-3.8.13-bone30.img.xz</a>   (November 23, 2013)
<ul>
<li>md5: 8173dffeaae12421a5542c3578afdd82</li>
<li><strong>host: </strong>ubuntu-armhf, <strong>user:</strong> ubuntu, <strong>pass:</strong> ubuntu</li>
<li>installation: <code>xz -cd ubuntu-saucy-13.10-armhf-3.8.13-bone30.img.xz &gt; /dev/sdX</code></li>
</ul>
</li>
</ul>
</ul>
<h5 style="padding-left: 30px;">Method 2: u-boot and rootfs</h5>
<ol>
<ol>
<li><a href="http://s3.armhf.com/boards/bbb/uboot-bone.tar.xz">uboot-bone.tar.xz</a>
<ul>
<li>md5: ab57368cddc6dba498c874330a319639</li>
</ul>
</li>
<li><a href="http://s3.armhf.com/debian/saucy/bone/ubuntu-saucy-13.10-armhf-rootfs-3.8.13-bone30.tar.xz">ubuntu-saucy-13.10-armhf-rootfs-3.8.13-bone30.tar.xz</a>   (November 23, 2013)
<ul>
<li>md5: e53b9a7884af980f552a21057a0bd0d2</li>
</ul>
</li>
</ol>
</ol>
<p>&nbsp;</p>
<h4>BeageBone Black Ubuntu Precise 12.04.3 LTS</h4>
<hr />
<h5 style="padding-left: 30px;">Method 1: image file</h5>
<ul>
<ul>
<li><a href="http://s3.armhf.com/debian/precise/bone/ubuntu-precise-12.04.3-armhf-3.8.13-bone30.img.xz">ubuntu-precise-12.04.3-armhf-3.8.13-bone30.img.xz</a>   (November 23, 2013)
<ul>
<li>md5: 36060e4209389d7d65422a549ede5111</li>
<li><strong>host: </strong>ubuntu-armhf, <strong>user:</strong> ubuntu, <strong>pass:</strong> ubuntu</li>
<li>installation: <code>xz -cd ubuntu-precise-12.04.3-armhf-3.8.13-bone30.img.xz &gt; /dev/sdX</code></li>
</ul>
</li>
</ul>
</ul>
<h5 style="padding-left: 30px;">Method 2: u-boot and rootfs</h5>
<ol>
<ol>
<li><a href="http://s3.armhf.com/boards/bbb/uboot-bone.tar.xz">uboot-bone.tar.xz</a>
<ul>
<li>md5: ab57368cddc6dba498c874330a319639</li>
</ul>
</li>
<li><a href="http://s3.armhf.com/debian/precise/bone/ubuntu-precise-12.04.3-armhf-rootfs-3.8.13-bone30.tar.xz">ubuntu-precise-12.04.3-armhf-rootfs-3.8.13-bone30.tar.xz</a>   (November 23, 2013)
<ul>
<li>md5: 8be67dca4d8c6191a9329f08d2fcfb44</li>
</ul>
</li>
</ol>
</ol>
<p>&nbsp;</p>
<h4>BeageBone Black Debian Wheezy 7.2</h4>
<hr />
<h5 style="padding-left: 30px;">Method 1: image file</h5>
<ul>
<ul>
<li><a href="http://s3.armhf.com/debian/wheezy/bone/debian-wheezy-7.2-armhf-3.8.13-bone30.img.xz">debian-wheezy-7.2-armhf-3.8.13-bone30.img.xz</a>   (November 23, 2013)
<ul>
<li>md5: 56eb200d1323c5439b218ca8dd1fc981</li>
<li><strong>host: </strong>debian-armhf, <strong>user:</strong> debian, <strong>pass:</strong> debian</li>
<li>installation: <code>xz -cd debian-wheezy-7.2-armhf-3.8.13-bone30.img.xz &gt; /dev/sdX</code></li>
</ul>
</li>
</ul>
</ul>
<h5 style="padding-left: 30px;">Method 2: u-boot and rootfs</h5>
<ol>
<ol>
<li><a href="http://s3.armhf.com/boards/bbb/uboot-bone.tar.xz">uboot-bone.tar.xz</a>
<ul>
<li>md5: ab57368cddc6dba498c874330a319639</li>
</ul>
</li>
<li><a href="http://s3.armhf.com/debian/wheezy/bone/debian-wheezy-7.2-armhf-rootfs-3.8.13-bone30.tar.xz">debian-wheezy-7.2-armhf-rootfs-3.8.13-bone30.tar.xz</a>   (November 23, 2013)
<ul>
<li>md5: 3d97db86cf01e1931ebbf3df6a760012</li>
</ul>
</li>
</ol>
</ol>
<p>&nbsp;</p>
<h4>Wandboard Ubuntu Saucy 13.10</h4>
<hr />
<h5 style="padding-left: 30px;">u-boot and rootfs</h5>
<ol>
<ol>
<li><a href="http://s3.armhf.com/boards/wand/uboot-wand.tar.xz">uboot-wand.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 24927d9f8daaccf2dfdd8c70bc19c6c9</li>
</ul>
</li>
<li><a href="http://s3.armhf.com/debian/saucy/wand/ubuntu-saucy-13.10-rootfs-3.0.35.8-armhf.com.tar.xz">ubuntu-saucy-13.10-rootfs-3.0.35.8-armhf.com.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 77d3af06631fa5d1282d2afae4bda606</li>
</ul>
</li>
</ol>
</ol>
<p>&nbsp;</p>
<h4>Wandboard Ubuntu Precise 12.04.3 LTS</h4>
<hr />
<h5 style="padding-left: 30px;">u-boot and rootfs</h5>
<ol>
<ol>
<li><a href="http://s3.armhf.com/boards/wand/uboot-wand.tar.xz">uboot-wand.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 24927d9f8daaccf2dfdd8c70bc19c6c9</li>
</ul>
</li>
<li><a href="http://s3.armhf.com/debian/precise/wand/ubuntu-precise-12.04.3-rootfs-3.0.35.8-armhf.com.tar.xz">ubuntu-precise-12.04.3-rootfs-3.0.35.8-armhf.com.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 541cccfeb983555dda37bf4b24aa2577</li>
</ul>
</li>
</ol>
</ol>
<p>&nbsp;</p>
<h4>Wandboard Debian Wheezy 7.2</h4>
<hr />
<h5 style="padding-left: 30px;">u-boot and rootfs</h5>
<ol>
<ol>
<li><a href="http://s3.armhf.com/boards/wand/uboot-wand.tar.xz">uboot-wand.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 24927d9f8daaccf2dfdd8c70bc19c6c9</li>
</ul>
</li>
<li><a href="http://s3.armhf.com/debian/wheezy/wand/debian-wheezy-7.2-rootfs-3.0.35.8-armhf.com.tar.xz">debian-wheezy-7.2-rootfs-3.0.35.8-armhf.com.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5:5ef848016a374a9272b34f9d610ad2c8</li>
</ul>
</li>
</ol>
</ol>
<p>&nbsp;</p>
<h4>Ubuntu Saucy 13.10 minimal rootfs (no kernel)</h4>
<hr />
<ul>
<li><a href="http://s3.armhf.com/debian/saucy/ubuntu-saucy-13.10-armhf.com-20131129.tar.xz">ubuntu-saucy-13.10-armhf.com-20131129.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 5922f5b3161cfe2a6b960a2da42d2c16</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<h4>Ubuntu Precise 12.04.3 LTS minimal rootfs (no kernel)</h4>
<hr />
<ul>
<li><a href="http://s3.armhf.com/debian/precise/ubuntu-precise-12.04.3-armhf.com-20131129.tar.xz">ubuntu-precise-12.04.3-armhf.com-20131129.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: c212c5ea083e84b52d005aea54b9660f</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<h4>Debian Wheezy 7.2 minimal rootfs (no kernel)</h4>
<hr />
<ul>
<li><a href="http://s3.armhf.com/debian/wheezy/debian-wheezy-7.2-armhf.com-20131129.tar.xz">debian-wheezy-7.2-armhf.com-20131129.tar.xz</a>   (November 29, 2013)
<ul>
<li>md5: 309d248b761ec8031a21da24b95ef221</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<h4><a href="http://nodejs.org/download" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://nodejs.org/download', 'Node.js']);" target="_blank">Node.js</a> for ARM Hard Float</h4>
<hr />
<h5 style="padding-left: 30px;">Node Ubuntu Precise</h5>
<ul>
<ul>
<li><a href="http://s3.armhf.com/debian/precise/node-v0.10.21-precise-armhf.tar.xz">node-v0.10.21-precise-armhf.tar.xz</a>   (November 7, 2013)
<ul style="padding-left: 30px;">
<li>md5: d326c94e46b8c5f91c803e1e66f1a5e8</li>
<li>installation: <code>tar xJvf node-v*-precise-armhf.tar.xz -C /usr/local --strip-components 1</code></li>
</ul>
</li>
</ul>
</ul>
<h5 style="padding-left: 30px;">Node Ubuntu Saucy</h5>
<ul>
<ul>
<li><a href="http://s3.armhf.com/debian/saucy/node-v0.10.21-saucy-armhf.tar.xz">node-v0.10.21-saucy-armhf.tar.xz</a>   (November 7, 2013)
<ul style="padding-left: 30px;">
<li>md5: 67f450c11615a75f2b525d9305ced2d4</li>
<li>installation: <code>tar xJvf node-v*-saucy-armhf.tar.xz -C /usr/local --strip-components 1</code></li>
</ul>
</li>
</ul>
</ul>
<h5 style="padding-left: 30px;">Node Debian Wheezy</h5>
<ul>
<ul>
<li><a href="http://s3.armhf.com/debian/wheezy/node-v0.10.21-wheezy-armhf.tar.xz">node-v0.10.21-wheezy-armhf.tar.xz</a>   (November 7, 2013)
<ul>
<li>md5: 0371ca7e2049273963b03b18cf52abf5</li>
<li>installation: <code>tar xJvf node-v*-wheezy-armhf.tar.xz -C /usr/local --strip-components 1</code></li>
</ul>
</li>
</ul>
</ul>
<p>&nbsp;</p>
<h4>Angstrom Linux Image</h4>
<hr />
<p style="padding-left: 30px;">Snapshot of the Angstrom image taken from the unbooted virgin eMMC of the BeagleBone Black.</p>
<ul>
<ul>
<li><a href="http://s3.armhf.com/boards/bbb/bbb_angstrom_ga.img.xz">bbb_angstrom_ga.img.xz</a>
<ul>
<li>md5: 7edecde1e007046228e18fb3417832ea</li>
<li>installation: <code>xz -cd bbb_angstrom_ga.img.xz &gt; /dev/mmcblk1</code></li>
</ul>
</li>
</ul>
</ul>
<p>&nbsp;</p>
<h4>Serial tty Device Tree Overlays</h4>
<hr />
<ul>
<li><a href="http://s3.armhf.com/boards/bbb/dt/ttyO1_armhf.com-00A0.dtbo">ttyO1_armhf.com-00A0.dtbo</a></li>
<li><a href="http://s3.armhf.com/boards/bbb/dt/ttyO2_armhf.com-00A0.dtbo">ttyO2_armhf.com-00A0.dtbo</a></li>
<li><a href="http://s3.armhf.com/boards/bbb/dt/ttyO3_armhf.com-00A0.dtbo">ttyO3_armhf.com-00A0.dtbo</a> (TX only)</li>
<li><a href="http://s3.armhf.com/boards/bbb/dt/ttyO4_armhf.com-00A0.dtbo">ttyO4_armhf.com-00A0.dtbo</a></li>
<li><a href="http://s3.armhf.com/boards/bbb/dt/ttyO5_armhf.com-00A0.dtbo">ttyO5_armhf.com-00A0.dtbo</a>
<ul>
<li><span style="font-size: 13px;">copy to: <code>/lib/firmware</code></span></li>
<li><span style="font-size: 13px;">apply command: <code>echo ttyO1_armhf.com &gt; /sys/devices/bone_capemgr*/slots</code></span></li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<hr />
<p style="font-size: .75em;">All software is provided “AS IS,” and any expressed or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular or any purpose are hereby expressly disclaimed. Any and all liability for any damage or loss resulting from the failure, defect, malfunction, use, or misuse of any software product offered is hereby expressly disclaimed. If you have any doubt at all about this software or Linix, do not download this software.</p>
<hr />
									</div>
				<!-- end of .post-entry -->

<div class="post-edit"></div>
							</div><!-- end of #post-1131 -->
		
</div><!-- end of #content-full -->

</div><!-- end of #wrapper -->
</div><!-- end of #container -->

{% include foot.html %}

