---
title:  ODROID-XU &#124; armhf.com
---

{% include head.html %}
<div id="wrapper" class="clearfix">
<div id="content-full" class="grid col-940">
	
			<div class="breadcrumb-list" xmlns:v="http://rdf.data-vocabulary.org/#"><span class="breadcrumb" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="/">Home</a></span> <span class="chevron">&#8250;</span> <span class="breadcrumb" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="/boards/">Boards</a></span> <span class="chevron">&#8250;</span> <span class="breadcrumb-current">ODROID-XU</span></div>
						<div id="post-1096" class="post-1096 page type-page status-publish hentry">
				
	<h1 class="entry-title post-title">ODROID-XU</h1>

				<div class="post-entry">
					<div class='content-column one_half'><p>&nbsp;</p>
<h4>Images Available</h4>
<ul>
<li><a href="#trusty">Ubuntu Trusty 14.10</a></li>
<li><a href="#precise">Ubuntu Precise 12.04.4 LTS</a></li>
<li><a href="#wheezy">Debian Wheezy 7.5</a></li>
<li><a href="/boards/odroid-xu/odroid-sd-install/" target="_blank">Installation Instructions</a></li>
</ul></div><br />
<div class='content-column one_half'><img class="wp-image-945" alt="Wandboard" src="http://s3.armhf.com/dist/odroid/odroidxu.jpg" width="480" height="309" /></div></p>
<h4><strong>The ODROID-XU</strong></h4>
<hr />
The <a href="http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137510300620" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137510300620', 'ODROID-XU']);" target="_blank">ODROID-XU</a> is a Samsung Exynos5 based development board. The <a href="http://www.samsung.com/global/business/semiconductor/minisite/Exynos/products5octa_5410.html" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.samsung.com/global/business/semiconductor/minisite/Exynos/products5octa_5410.html', 'Samsung Exynos5 Octa 5410']);" >Samsung Exynos5 Octa 5410</a> is truly unique in that it has both quad Cortex-A15 and quad Cortex-A7 cores in a single SoC. The ODROID-XU design incorporates support for HDMI, Ethernet, USB 2 &#038; 3, and sound. The cooling fan operates only when needed. Loaded with features and packed incredible processing power, the ODROID-XU is one serious development board in a tiny form factor.</p>
<p>&nbsp;</p>
<h4><strong>The Goal</strong></h4>
<hr />
<p><span>The goal of this site is to provide <em>easy to deploy</em> stock armhf embedded images that are very stable. The goal is <em>not</em> to provide the absolute latest kernels that may lack stability. This ease of deployment and stability enables the software engineer to focus on software development without the hassles of building operating systems and fussing with bleeding-edge kernel issues.</span></p>
<p><a name="trusty"></a><br />
<span> </span></p>
<h4><strong>Ubuntu Trusty 14.04</strong></h4>
<hr />
<p>This image uses the <a href="http://cdimage.ubuntu.com/ubuntu-core/releases/14.04/release/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://cdimage.ubuntu.com/ubuntu-core/releases/14.04/release/', 'Ubuntu 14.04']);" target="_blank">Ubuntu 14.04</a> core filesystem from Ubuntu with the minimal meta package applied. The kernel is compiled from the <a href="https://github.com/hardkernel/linux/tree/odroidxu-3.4.y" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://github.com/hardkernel/linux/tree/odroidxu-3.4.y', 'Hardkernel fork']);" target="_blank">Hardkernel fork</a> of the Linux kernel git repository. The result is an easy-to-install and stable Linux image.</p>
<p><strong>Binary Download</strong></p>
<ul>
<li><a href="http://s3.armhf.com/dist/odroid/ubuntu-trusty-14.04-rootfs-3.4.91.1-odroidxu-armhf.com.tar.xz">ubuntu-trusty-14.04-rootfs-3.4.91.1-odroidxu-armhf.com.tar.xz</a> (June 8, 2014)<br />
md5: bc43b1cc5dc4e58e159abbbcdde70daa</li>
<li><a href="http://s3.armhf.com/dist/odroid/linux-headers-3.4.91.1-odroidxu-armhf.com.tar.xz">linux-headers-3.4.91.1-odroidxu-armhf.com.tar.xz</a> (June 8, 2014)<br />
md5: 1cf4f3f77f6d8fee705ba904e388eff5</li>
<li><a href="http://s3.armhf.com/dist/odroid/odroidxu-uboot.img">odroidxu-uboot.img</a> (June 8, 2014)<br />
md5: b01e3dc50f56c19d9d8d8e0731fdd8c2</li>
<li><a href="/boards/odroid-xu/odroid-sd-install/">installation instructions</a></li>
</ul>
<p><a name="precise"></a><br />
<span> </span></p>
<h4><strong>Ubuntu Precise 12.04.4 LTS</strong></h4>
<hr />
<p>This image uses the <a href="http://cdimage.ubuntu.com/ubuntu-core/releases/12.04/release/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://cdimage.ubuntu.com/ubuntu-core/releases/12.04/release/', 'Ubuntu 12.04']);" target="_blank">Ubuntu 12.04</a> core filesystem from Ubuntu with the minimal meta package applied. The kernel is compiled from the <a href="https://github.com/hardkernel/linux/tree/odroidxu-3.4.y" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://github.com/hardkernel/linux/tree/odroidxu-3.4.y', 'Hardkernel fork']);" target="_blank">Hardkernel fork</a> of the Linux kernel git repository. The result is an easy-to-install and stable Linux image.</p>
<p><strong>Binary Download</strong></p>
<ul>
<li><a href="http://s3.armhf.com/dist/odroid/ubuntu-precise-12.04.4-rootfs-3.4.91.1-odroidxu-armhf.com.tar.xz">ubuntu-precise-12.04.4-rootfs-3.4.91.1-odroidxu-armhf.com.tar.xz</a> (June 8, 2014)<br />
md5: 1badd49cd8e4688eacbfa89e2ed489ef</li>
<li><a href="http://s3.armhf.com/dist/odroid/linux-headers-3.4.91.1-odroidxu-armhf.com.tar.xz">linux-headers-3.4.91.1-odroidxu-armhf.com.tar.xz</a> (June 8, 2014)<br />
md5: 1cf4f3f77f6d8fee705ba904e388eff5</li>
<li><a href="http://s3.armhf.com/dist/odroid/odroidxu-uboot.img">odroidxu-uboot.img</a> (June 8, 2014)<br />
md5: b01e3dc50f56c19d9d8d8e0731fdd8c2</li>
<li><a href="/boards/odroid-xu/odroid-sd-install/">installation instructions</a></li>
</ul>
<p><a name="wheezy"></a><br />
<span> </span></p>
<h4><strong>Debian Wheezy 7.5</strong></h4>
<hr />
<p>This image is based on the Debian Wheezy 7.2 core filesystem from <a href="http://wiki.debian.org/InstallingDebianOn/TI/BeagleBone" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://wiki.debian.org/InstallingDebianOn/TI/BeagleBone', 'Live-Build']);" target="_blank">Live-Build</a>, with packages equivalent to the Ubuntu minimal meta package. The kernel is compiled from the <a href="https://github.com/hardkernel/linux/tree/odroidxu-3.4.y" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://github.com/hardkernel/linux/tree/odroidxu-3.4.y', 'Hardkernel fork']);" target="_blank">Hardkernel fork</a> of the Linux kernel git repository. The result is an easy-to-install and stable Linux image.</p>
<p><strong>Binary Download</strong></p>
<ul>
<li><a href="http://s3.armhf.com/dist/odroid/debian-wheezy-7.5-rootfs-3.4.91.1-odroidxu-armhf.com.tar.xz">debian-wheezy-7.5-rootfs-3.4.91.1-odroidxu-armhf.com.tar.xz</a> (June 8, 2014)<br />
md5: 542233586e096cc99ebf268eb22c9c07</li>
<li><a href="http://s3.armhf.com/dist/odroid/linux-headers-3.4.91.1-odroidxu-armhf.com.tar.xz">linux-headers-3.4.91.1-odroidxu-armhf.com.tar.xz</a> (June 8, 2014)<br />
md5: 1cf4f3f77f6d8fee705ba904e388eff5</li>
<li><a href="http://s3.armhf.com/dist/odroid/odroidxu-uboot.img">odroidxu-uboot.img</a> (June 8, 2014)<br />
md5: b01e3dc50f56c19d9d8d8e0731fdd8c2</li>
<li><a href="/boards/odroid-xu/odroid-sd-install/">installation instructions</a></li>
</ul>
<p>&nbsp;</p>
<p><span> </span></p>
<h4><strong>Resources</strong></h4>
<hr />
<ul>
<li><a href="http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137510300620" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137510300620', 'ODROID-XU Product Page']);" target="_blank">ODROID-XU Product Page</a></li>
<li><a href="http://forum.odroid.com/viewforum.php?f=59&#038;sid=db878f124d2ae80c93a99b53ee1ace77" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://forum.odroid.com/viewforum.php?f=59&#038;sid=db878f124d2ae80c93a99b53ee1ace77', 'ODROID-XU Forum']);" target="_blank">ODROID-XU Forum</a></li>
<li><a href="http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137510300620&#038;tab_idx=2" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137510300620&#038;tab_idx=2', 'ODROID-XU Board Detail']);" target="_blank">ODROID-XU Board Detail</a></li>
<li><a href="http://archlinuxarm.org/platforms/armv7/samsung/odroid-xu" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://archlinuxarm.org/platforms/armv7/samsung/odroid-xu', 'Arch Linux']);" target="_blank">Arch Linux</a></li>
</ul>
<p>&nbsp;</p>
<hr />
<p style="font-size: .75em;">All software is provided “AS IS,” and any expressed or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular or any purpose are hereby expressly disclaimed. Any and all liability for any damage or loss resulting from the failure, defect, malfunction, use, or misuse of any software product offered is hereby expressly disclaimed. If you have any doubt at all about this software or Linix, do not download this software.</p>
<hr />
									</div>
				<!-- end of .post-entry -->

<a class="anchor" id="comments"></a>
							</div><!-- end of #post-1096 -->
			
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "http://www.armhf.com/boards/odroid-xu/";
        this.page.identifier = "1096 http://www.armhf.com/?page_id=1096";
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = '//armhf.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div><!-- end of #content-full -->

</div><!-- end of #wrapper -->
</div><!-- end of #container -->

{% include foot.html %}

